configuration {
    modi: "window,drun,run";
    combi-modi: "window,drun,run";
    display-window: "Windows:";
    display-drun: "Applications:";
    display-run: "Run:";
    display-combi: "Menu:";
    drun-display-format: "{icon} {name}";
    show-icons: true;
    icon-theme: "Papirus";
}

@theme "onedark"

* {
    font: "JetBrainsMono Nerd Font Mono 10";
    text-color: @text;
    background-color: transparent;
}

window {
    location: center;
    background-color: @bg;
    width: 42%;
    border: 2px;
    border-color: @primary;
}

mainbox {
    padding: 12px;
}

inputbar {
    background-color: @bg-alt;
    border: 2px;
    border-color: @primary;
    border-radius: 16px;
    padding: 8px 16px;
    spacing: 8px;
    children: [ prompt, entry ];
}

prompt {
    text-color: @primary;
}

entry {
    placeholder: "Search";
    placeholder-color: @text-alt;
    text-color: @text;
}

message {
    margin: 12px 0 0;
    border-radius: 16px;
    background-color: @bg-alt;
    border: 1px;
    border-color: @primary;
}

textbox {
    padding: 8px 24px;
    background-color: @bg-alt;
    text-color: @text;
}

listview {
    background-color: transparent;
    margin: 12px 0 0;
    columns: 1;
    lines: 10;
    fixed-height: false;
}

element {
    padding: 8px 16px;
    spacing: 8px;
    border-radius: 16px;
    text-color: @text-alt;
}

element normal urgent {
    text-color: @danger;
}

element normal active {
    text-color: @primary;
}

element selected normal,
element selected active {
    background-color: @bg-alt;
    text-color: @text;
}

element-icon {
    size: 1em;
    vertical-align: 0.5;
}

element-text {
    text-color: inherit;
}
